VITE_DEMO_LOGIN_ALL=demo-admin
VITE_DEMO_PASSWORD_ALL=iris-all

VITE_DEMO_LOGIN_IRIS=demo-iris
VITE_DEMO_PASSWORD_IRIS=iris-only

VITE_DEMO_LOGIN_PROFPOTOK=demo-profpotok
VITE_DEMO_PASSWORD_PROFPOTOK=prof-only
